<em>{{ id }}</em>

<mat-tab-group [selectedIndex]=0>
  <mat-tab label="Entities">
    <ng-template matTabContent>
      <app-r-entities [componentId]="id"></app-r-entities>
    </ng-template>
  </mat-tab>
  <mat-tab label="Services">
    <ng-template matTabContent>
      <app-r-services [componentId]="id"></app-r-services>
    </ng-template>
  </mat-tab>
  <mat-tab label="Dependencies">
    <ng-template matTabContent>
      <app-r-dependencies [componentId]="id"></app-r-dependencies>
    </ng-template>
  </mat-tab>
</mat-tab-group>
