<p *ngIf="!domains"><em>loading components...</em></p>

<accordion *ngIf="domains">
  <panel *ngFor="let domain of domains"
         [title]="domain.name"
         [count]="domain.components.length"
         (toggle)="domain.opened = !domain.opened" >   
    <ul class="list-group">

       <li class="list-group-item" *ngFor="let cmp of domain.components"          
           data-toggle="tooltip" title="{{ cmp.version }}">
          <a [routerLink]="cmp.id">{{ cmp.name }}</a>
       </li>
    </ul>
  </panel>
</accordion>
